<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="tests.GmailLoginTest_TestNGDemo"/>
      <class name="tests.GmailLoginTest_TestNGDemo2"/>
    
     <!-- para incluir o excluir metodos de alguna clase ( que serian tests de una pagina de test )-->
		<methods>
	<!--<include name="gmailTest2"> </include> -->	
	<exclude name="gmailTest2"> </exclude>	
		</methods>   
    </classes>
    
  </test> <!-- Test1 -->
</suite> <!-- Suite1 -->
